/* added by picsoung */
@font-face {
	font-family: 'Dessau';
	src: url('../fonts/DessauMedium.eot');
	src: url('../fonts/DessauMedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DessauMedium.woff') format('woff'),
		url('../fonts/DessauMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}



.navbar-header{
  text-align: center;
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
}

.navbar .navbar-nav{
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-top: 10px;
}

.navbar-default .navbar-brand {
    font-family: "Dessau","Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #e82c25;
    float: none;
    margin: 0 !important;
    padding: 0;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #f8f27a;
}

.navbar-default .navbar-collapse {
    text-align: center;
}

.navbar-default .nav li a {
    color: #ccc;
    text-align: center;
    font-size: 12px;
    padding-left: 10px;
}

@media(min-width:768px) {
  .navbar-default {
      padding: 10px 0;
      background-color: white;
  }
  .navbar-nav>li>a {
    padding: 0
  }

  .navbar-default.navbar-shrink {
    background-color: white;
    border-bottom: 1px solid #efefef;
    opacity: 0.9;
  }
  header .intro-text .intro-lead-in{
    font-size: 35px;
  }
}

header .intro-text{
	padding-bottom: 50px;
}

.navbar-default {
    border-color: transparent;
    background-color: white;
}

header {
  background:
    /*position: center center,
    repeat: none,*/
    linear-gradient(
      rgba(255, 0, 0, 0.20),
      rgba(255, 0, 0, 0.20)
    ),
    /* bottom, image */
    url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.intro-lead-in,.intro-heading{
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
}

.spain-round-icon{
  padding: 10px 10px;
  display: inline-block;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0px 0px 2px #888;
  /* -webkit-box-shadow: 0px 0px 2px #888; */
  /* box-shadow: 0px 0px 2px #888; */
  width: 110px;
  background: #fed136;
}

.product-header{
  padding: 100px 0;
}

.product-banner{
  padding: 51px 0px 55px;
  background-image: url(/img/gift_banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: cover;
  opacity: 0.7;
  margin-bottom: 40px;
  max-height:168px;
}

.product-nav{
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  text-transform: uppercase;
}

.breadcumb-nav{
  text-align: center;
  color: white;
  text-shadow: 3px 3px 2px rgb(0, 0, 0);
  text-transform: uppercase;
	padding-top: 50px;
}

.product-nav a, .breadcumb-nav a{
  color: white;
}

.product-img{
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  border-image: initial;
	max-width: 500px;
	max-height: 500px;
}

.product-thumbnail{
	max-width: 150px;
	max-height: 150px;
}

.product-images{
  margin-top: 40px;
}

.product-section{
  font-weight: 100;
}
.product-section h1 {
  margin: 0;
}
.product-section a{
  font-weight: 300;
  color: #265C83;
}

.product-section a:link,
.product-section a:visited { color: #265C83; }
.product-section a:hover   { color: #7FDBFF; }
.product-section a:active  {
  transition: color .3s;
  color: #007BE6;
}

.product-price{
  margin: 20px 0 20px 0;
}
.product-price del{
  font-size: 18px;
}
.product-price ins{
  font-size: 28px;
}

.product-action .btn-primary{
  border-color: #e82c25;
  background-color: #e82c25;
  font-size: 30px;
}

.product-action p{
  margin-top: 20px;
}

.portfolio-caption{
  text-align: center;
}

.portfolio-caption:before,.portfolio-caption:after{
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 1px;
  bottom: 16px;
  left: 50%;
  margin-left: 60px;
  background-color: #ededed;
}

.portfolio-caption:after{content: "";
  left: auto;
  right: 50%;
  margin-left: 0px;
  margin-right: 60px;
}

.img-product-grid{
	/*max-height: 200px;*/
	/*max-width: 200px;*/
	/*padding-left: 25%;*/
}

.btn-xl-red {
	background-color: #e82c25;
	border-color: #e82c25;
}
