<section class="product-header">
  <style media="screen">

  </style>
    <div class="product-banner">
        <nav class = "breadcumb-nav">
           <a href="/"> inicio</a> /
           {{ range .category }}
             {{ $cat := (urlize (lower (replace (replace (replace . "ó" "o") "í" "i") "ú" "u") ) )}}
             <a href="/{{$cat}}">{{ . | markdownify }}</a>
           {{ end }} / {{ .name }}
        </nav>
    </div>
    <div class="col-md-6">
        {{ with .images }}
          {{ range first 1 . }}
          <a href="{{ . }}" data-lightbox="image-1" data-title="My caption">
        <img class="product-img" height="500" width="500" src="{{ . }}" />
        </a>
          {{ end }}
        {{ end }}
        <div class="product-images">
          {{ with .images }}
            {{ range after 1 . }}
            <a href="{{ . }}" data-lightbox="image-1" data-title="My caption">
          <img class="product-img" height="150" width="150" src="{{ . }}" />
          </a>
            {{ end }}
          {{ end }}
        </div>
    </div>
    <div class="col-md-6 product-section">
      <h1>{{ .name }}</h1>
      <p>
        {{ .description.short}}
      </p>
      <hr>
      <p>
        {{if .description.long}}
          {{ .description.long | markdownify }}
        {{end}}
      </p>
      <div>
        {{if .links.website}}
           <a href="{{ .links.website}}" target="_blank">{{ .name}}</a> /
        {{end}}
        {{if .links.facebook}}
           <a href="{{ .links.facebook}}" target="_blank">Facebook</a> /
        {{end}}
        {{if .links.twitter}}
           <a href="{{ .links.twitter}}" target="_blank">Twitter</a>
        {{end}}
      </div>
      <div class="product-price">
          {{if .price.discount}}
            <del>€{{ .price.original}}</del>
            &nbsp;
            <b><ins style="text-decoration: none;">€{{ .price.discount}}</ins></b>
          {{else}}
              <span>€{{ .price.original}}</span>
          {{end}}
      </div>
      <hr>
      <div class="product-action">
        {{with .links.buy}}
          <a href="{{.}}" target="_blank"><button type="button" class="btn btn-primary">Lo quiero !</button></a>
        {{end}}
        <p>
          Categoria: {{ range .category }}
            {{ $cat := (urlize (lower (replace (replace (replace . "ó" "o") "í" "i") "ú" "u") ) )}}
            <a href="/{{$cat}}">{{ . | markdownify }}</a>
            {{end}}
        </p>
      </div>
      <div class="name">

      </div>
    </div>
  </div>

</section>
