<section class="product-header">
  <style media="screen">

  </style>
      <div class="product-banner">
        <nav class = "product-nav">
           <a href="/"> inicio</a> / <a href="/"> {{ .category }}</a> / {{ .name }}
        </nav>
    </div>
    <div class="col-md-6">

        {{ with .images }}
          {{ range first 1 . }}
          <a href="{{ . }}" data-lightbox="image-1" data-title="My caption">
        <img class="product-img" height="500" width="500" src="{{ . }}" />
        </a>
          {{ end }}
        {{ end }}
        <div class="product-images">
          {{ with .images }}
            {{ range after 1 . }}
            <a href="{{ . }}" data-lightbox="image-1" data-title="My caption">
          <img class="product-img" height="200" width="200" src="{{ . }}" />
          </a>
            {{ end }}
          {{ end }}
        </div>
    </div>
    <div class="col-md-6">
      <ul>
        <li>Name: {{ .name }}</li>
        <li>Price: {{ .price }}</li>
        <li>Categories: {{ .category }}</a>
      </ul>
    </div>
  </div>

</section>
