<!-- <li><a href="/product/{{ .slug }}/">{{ .name }}</a></li> -->

{{ $baseurl := .Site.BaseURL }}
<div class="col-md-4 col-sm-4">
  <a href="/product/{{ .slug }}/">
    <img src="{{ index .images 0}}" class="img-responsive img-product-grid" alt="">
    <div class="portfolio-caption">
        <h4>{{ .name | markdownify }}</h4></a>
        <p>{{ .description.short | markdownify}}</p>
        <p class="text-muted">
          {{ range .category }}
            {{ $cat := (urlize (lower (replace (replace (replace . "ó" "o") "í" "i") "ú" "u") ) )}}
            <a href="{{$baseurl}}/{{$cat}}">
            <i>{{ . | markdownify }}</i>
          </a>
          {{ end }}
        </p>
        {{if .price.from_price}}
          <span>desde</span>
        {{end}}
        {{if .price.discount}}
          <del>€{{ .price.original}}</del>
          &nbsp;
          <b><ins style="text-decoration: none;">€{{ .price.discount}}</ins></b>
        {{else}}
            <span>€{{ .price.original}}</span>
        {{end}}
        <div id="name">
          <a href="/product/{{ .slug }}/"><button type="button" class="btn btn-primary">Descubrir</button></a>
        </div>
    </div>
</div>
